html,body{
    height:100%;
    width: 100%;
    margin:0;
    padding:0;
    font-family: 'Raleway', sans-serif;
    background:white; 
     /* background necessary for samsung internet, displays black bar otherwise */
     color:rgb(88, 88, 88);
    }
 .container{

    margin-left: 5%;
    margin-right: 5%;
}

.pink-color{
    color:rgb(255, 174, 187);
}
.pink-shadow{
    text-shadow: 1px 1px 0px rgba(248, 165, 179, 0.384);
}
.divider{
    border-bottom: 1px solid rgb(199, 198, 198);
}
.letter-spacing2{
    letter-spacing: 2px;
}
.margin-2{
    margin-top:2rem;
    margin-bottom: 2rem;
}
.dark-grey-color{
    color:rgb(88, 88, 88);
    
}
.grey-color{
    color:rgba(112, 112, 112, 0.616);
}
.grey-color-noth{
    color:rgb(102, 102, 102);

}
.form-control{
    display:block;
    width:100%;
    box-sizing: border-box; 
    /* keeps the input texts from overflowing^ */
}
.margint-1{
    margin-top:1rem;

}
.btn{
    width:100%;
    padding-top:.5rem;
    padding-bottom: .5rem;
    border:none;
    font-weight: bold;
    color:rgb(255, 255, 255);
    letter-spacing: 1px;
}
.pink-color-background{
    background-color:rgb(255, 159, 175);

}
.center{
    justify-content: center;
}
.d-flex{
    display:flex;
}
.flex-dir-col{
    flex-direction: column;
}
.btn:hover{
    cursor: pointer;
    box-shadow: 1px -1px 8px 2px rgba(230, 229, 229, 0.75);
}
label{
    letter-spacing: 1px;
    padding-bottom: .3rem;
}
.marginl-0{
    margin-left: 0;
}
table{
    width:100%;
}
th{
    padding-bottom: 1rem;
    padding-top: 1rem;
/* with cell space 0, no spaces between the borders */
    border-bottom: 1px solid rgb(189, 189, 189);
    border-top: 1px solid rgb(189, 189, 189);

}